openapi: 3.0.3
info:
  title: FitKart API
  description: |
    FitKart is a mobile fitness rewards platform that tracks user steps and allows redemption for products.
    This is the official RESTful API specification for all client integrations.
  version: 1.0.0
  contact:
    name: FitKart API Support
    email: api-support@fitkart.com
    url: https://fitkart.com/support
  license:
    name: Proprietary
    url: https://fitkart.com/legal/license

servers:
  - url: https://api.fitkart.com/api
    description: Production Server
  - url: https://staging-api.fitkart.com/api
    description: Staging Server
  - url: http://localhost:3000/api
    description: Development Server

tags:
  - name: Authentication
    description: User registration, login, and token management
  - name: Users
    description: User profile and account management
  - name: Steps
    description: Step tracking and activity records
  - name: Coins
    description: Coin balance and transaction history
  - name: Orders
    description: Reward product orders and redemption
  - name: Achievements
    description: Badges and milestone achievements
  - name: Leaderboard
    description: User rankings and competitive standings
  - name: Store
    description: Reward product catalog and search
  - name: Admin
    description: Administrative operations and platform management

paths:
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register new user
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - full_name
              properties:
                email:
                  type: string
                  format: email
                  example: john@example.com
                password:
                  type: string
                  minLength: 8
                  example: "SecurePass123!"
                full_name:
                  type: string
                  example: John Doe
                phone:
                  type: string
                  example: "+14155552671"
                country_code:
                  type: string
                  example: "+1"
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Email already registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login with email and password
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/google:
    post:
      tags:
        - Authentication
      summary: Login with Google OAuth
      operationId: loginWithGoogle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id_token
              properties:
                id_token:
                  type: string
                  description: Google ID token from authentication
      responses:
        '200':
          description: Google login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /auth/apple:
    post:
      tags:
        - Authentication
      summary: Login with Apple Sign-In
      operationId: loginWithApple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - identifier_token
                - authorization_code
              properties:
                identifier_token:
                  type: string
                  description: Apple identity token
                authorization_code:
                  type: string
                  description: Apple authorization code
      responses:
        '200':
          description: Apple login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /auth/otp/send:
    post:
      tags:
        - Authentication
      summary: Request OTP code
      operationId: sendOTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: OTP sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  message:
                    type: string
                    example: "OTP sent to john@example.com"

  /auth/otp/verify:
    post:
      tags:
        - Authentication
      summary: Verify OTP code
      operationId: verifyOTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - otp_code
              properties:
                email:
                  type: string
                  format: email
                otp_code:
                  type: string
                  pattern: '^\d{6}$'
      responses:
        '200':
          description: OTP verified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid or expired OTP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      operationId: refreshToken
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: Logout user
      operationId: logoutUser
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Logout successful

  /users/me:
    get:
      tags:
        - Users
      summary: Get current user profile
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /users/{user_id}:
    get:
      tags:
        - Users
      summary: Get public user profile
      operationId: getUserProfile
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Public profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicUserResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /users/me/update:
    put:
      tags:
        - Users
      summary: Update user profile
      operationId: updateUserProfile
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                full_name:
                  type: string
                bio:
                  type: string
                  maxLength: 160
                phone:
                  type: string
                date_of_birth:
                  type: string
                  format: date
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'

  /users/me/picture:
    post:
      tags:
        - Users
      summary: Upload profile picture
      operationId: uploadProfilePicture
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - picture
              properties:
                picture:
                  type: string
                  format: binary
                  description: Profile picture (JPEG/PNG, max 5MB)
      responses:
        '200':
          description: Picture uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: object
                    properties:
                      picture_url:
                        type: string

  /users/me/stats:
    get:
      tags:
        - Users
      summary: Get user statistics
      operationId: getUserStats
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User statistics retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserStatsResponse'

  /steps/record:
    post:
      tags:
        - Steps
      summary: Record step data
      operationId: recordSteps
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - steps
                - recorded_date
              properties:
                steps:
                  type: integer
                  minimum: 0
                distance:
                  type: number
                  format: double
                calories:
                  type: integer
                heart_points:
                  type: integer
                source:
                  type: string
                  enum: [google_fit, apple_health, manual, fitbit, samsung_health]
                recorded_date:
                  type: string
                  format: date
      responses:
        '201':
          description: Steps recorded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StepRecordResponse'
        '403':
          description: Suspicious activity detected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /steps/batch:
    post:
      tags:
        - Steps
      summary: Batch record multiple days
      operationId: batchRecordSteps
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - records
              properties:
                records:
                  type: array
                  items:
                    type: object
                    required:
                      - steps
                      - recorded_date
                    properties:
                      steps:
                        type: integer
                      distance:
                        type: number
                      calories:
                        type: integer
                      source:
                        type: string
                      recorded_date:
                        type: string
                        format: date
      responses:
        '200':
          description: Batch processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: object
                    properties:
                      processed:
                        type: integer
                      successful:
                        type: integer
                      failed:
                        type: integer

  /steps/today:
    get:
      tags:
        - Steps
      summary: Get today's steps
      operationId: getTodaySteps
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Today's step data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyStepsResponse'

  /steps/week:
    get:
      tags:
        - Steps
      summary: Get weekly steps
      operationId: getWeeklySteps
      security:
        - bearerAuth: []
      parameters:
        - name: week_of
          in: query
          schema:
            type: string
            format: date
          description: Start date of week (defaults to current week)
      responses:
        '200':
          description: Weekly step data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeeklyStepsResponse'

  /steps/month:
    get:
      tags:
        - Steps
      summary: Get monthly steps
      operationId: getMonthlySteps
      security:
        - bearerAuth: []
      parameters:
        - name: month
          in: query
          schema:
            type: string
            pattern: '^\d{4}-\d{2}$'
          description: Month in YYYY-MM format
      responses:
        '200':
          description: Monthly step data
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_steps:
                    type: integer
                  total_distance:
                    type: number

  /steps/history:
    get:
      tags:
        - Steps
      summary: Get step history with pagination
      operationId: getStepHistory
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Step history
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StepRecord'

  /coins/balance:
    get:
      tags:
        - Coins
      summary: Get coin balance
      operationId: getCoinBalance
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Coin balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinBalanceResponse'

  /coins/history:
    get:
      tags:
        - Coins
      summary: Get coin transaction history
      operationId: getCoinHistory
      security:
        - bearerAuth: []
      parameters:
        - name: transaction_type
          in: query
          schema:
            type: string
            enum: [earned, spent, refund, bonus, penalty]
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Coin history
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoinTransaction'

  /orders:
    post:
      tags:
        - Orders
      summary: Create order
      operationId: createOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
                - shipping_address
              properties:
                items:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required:
                      - product_id
                      - quantity
                    properties:
                      product_id:
                        type: string
                        format: uuid
                      quantity:
                        type: integer
                        minimum: 1
                shipping_address:
                  $ref: '#/components/schemas/ShippingAddress'
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    get:
      tags:
        - Orders
      summary: Get user's orders
      operationId: getOrders
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, confirmed, processing, shipped, delivered, cancelled]
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Orders retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'

  /orders/{order_id}:
    get:
      tags:
        - Orders
      summary: Get order details
      operationId: getOrderDetail
      security:
        - bearerAuth: []
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /orders/{order_id}/cancel:
    post:
      tags:
        - Orders
      summary: Cancel order
      operationId: cancelOrder
      security:
        - bearerAuth: []
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Order cancelled, coins refunded
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  coins_refunded:
                    type: integer

  /achievements:
    get:
      tags:
        - Achievements
      summary: Get all achievements
      operationId: getAllAchievements
      security:
        - bearerAuth: []
      responses:
        '200':
          description: All achievements
          content:
            application/json:
              schema:
                type: object
                properties:
                  achievements:
                    type: array
                    items:
                      $ref: '#/components/schemas/Achievement'

  /achievements/me:
    get:
      tags:
        - Achievements
      summary: Get user's achievements
      operationId: getUserAchievements
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User's unlocked achievements
          content:
            application/json:
              schema:
                type: object
                properties:
                  achievements:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserAchievement'

  /leaderboard/weekly:
    get:
      tags:
        - Leaderboard
      summary: Get weekly leaderboard
      operationId: getWeeklyLeaderboard
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Weekly rankings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardResponse'

  /leaderboard/monthly:
    get:
      tags:
        - Leaderboard
      summary: Get monthly leaderboard
      operationId: getMonthlyLeaderboard
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Monthly rankings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardResponse'

  /leaderboard/all-time:
    get:
      tags:
        - Leaderboard
      summary: Get all-time leaderboard
      operationId: getAllTimeLeaderboard
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: All-time rankings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardResponse'

  /leaderboard/me:
    get:
      tags:
        - Leaderboard
      summary: Get user's rank context
      operationId: getUserRankContext
      security:
        - bearerAuth: []
      parameters:
        - name: period
          in: query
          required: true
          schema:
            type: string
            enum: [weekly, monthly, all_time]
      responses:
        '200':
          description: User's rank and context
          content:
            application/json:
              schema:
                type: object
                properties:
                  rank:
                    type: integer
                  total_users:
                    type: integer
                  percentile:
                    type: number

  /store/products:
    get:
      tags:
        - Store
      summary: Get reward products
      operationId: getProducts
      security:
        - bearerAuth: []
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [electronics, apparel, accessories, gift_cards, experiences]
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Product list
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'

  /store/products/{product_id}:
    get:
      tags:
        - Store
      summary: Get product details
      operationId: getProductDetail
      security:
        - bearerAuth: []
      parameters:
        - name: product_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetail'

  /store/search:
    get:
      tags:
        - Store
      summary: Search products
      operationId: searchProducts
      security:
        - bearerAuth: []
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'

  /admin/users:
    get:
      tags:
        - Admin
      summary: List all users
      operationId: adminListUsers
      security:
        - bearerAuth: []
      parameters:
        - name: search
          in: query
          schema:
            type: string
        - name: role
          in: query
          schema:
            type: string
            enum: [user, moderator, admin]
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: User list
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminUser'

  /admin/analytics:
    get:
      tags:
        - Admin
      summary: Get platform analytics
      operationId: adminGetAnalytics
      security:
        - bearerAuth: []
      parameters:
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'

  /admin/settings:
    get:
      tags:
        - Admin
      summary: Get settings
      operationId: adminGetSettings
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Platform settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  settings:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        value:
                          type: string

    put:
      tags:
        - Admin
      summary: Update settings
      operationId: adminUpdateSettings
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                settings:
                  type: object
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string

  /admin/suspicious-steps:
    get:
      tags:
        - Admin
      summary: Get suspicious step submissions
      operationId: adminGetSuspiciousSteps
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, approved, rejected]
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Suspicious submissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  submissions:
                    type: array
                    items:
                      $ref: '#/components/schemas/SuspiciousSubmission'

  /admin/suspicious-steps/{submission_id}/approve:
    post:
      tags:
        - Admin
      summary: Approve suspicious steps
      operationId: adminApproveSteps
      security:
        - bearerAuth: []
      parameters:
        - name: submission_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Steps approved, coins awarded
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  coins_awarded:
                    type: integer

  /admin/suspicious-steps/{submission_id}/reject:
    post:
      tags:
        - Admin
      summary: Reject suspicious steps
      operationId: adminRejectSteps
      security:
        - bearerAuth: []
      parameters:
        - name: submission_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reason
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Steps rejected
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string

  /admin/audit-logs:
    get:
      tags:
        - Admin
      summary: Get audit logs
      operationId: adminGetAuditLogs
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          schema:
            type: string
        - name: entity_type
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Audit logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLog'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: refresh_token

  parameters:
    limit:
      name: limit
      in: query
      description: Number of results to return
      schema:
        type: integer
        default: 20
        maximum: 100
    offset:
      name: offset
      in: query
      description: Number of results to skip
      schema:
        type: integer
        default: 0

  schemas:
    ErrorResponse:
      type: object
      required:
        - status
        - error
      properties:
        status:
          type: string
          enum: [error]
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              example: "AUTH_INVALID_CREDENTIALS"
            message:
              type: string
              example: "Invalid email or password"
            details:
              type: object
              additionalProperties: true

    AuthResponse:
      type: object
      required:
        - status
        - data
      properties:
        status:
          type: string
          enum: [success]
        data:
          type: object
          required:
            - id
            - email
            - access_token
            - expires_in
          properties:
            id:
              type: string
              format: uuid
            email:
              type: string
            full_name:
              type: string
            access_token:
              type: string
            refresh_token:
              type: string
            expires_in:
              type: integer
              description: Seconds until token expiry
            token_type:
              type: string
              enum: [Bearer]

    TokenResponse:
      type: object
      properties:
        status:
          type: string
        data:
          type: object
          properties:
            access_token:
              type: string
            expires_in:
              type: integer

    UserResponse:
      type: object
      properties:
        status:
          type: string
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
            email:
              type: string
            full_name:
              type: string
            profile_picture_url:
              type: string
            bio:
              type: string
            created_at:
              type: string
              format: date-time

    PublicUserResponse:
      type: object
      properties:
        status:
          type: string
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
            full_name:
              type: string
            profile_picture_url:
              type: string
            total_steps:
              type: integer
            current_rank:
              type: integer

    UserStatsResponse:
      type: object
      properties:
        status:
          type: string
        data:
          type: object
          properties:
            total_steps:
              type: integer
            total_distance:
              type: number
            total_coins_earned:
              type: integer
            current_streak:
              type: integer
            best_day_steps:
              type: integer

    StepRecordResponse:
      type: object
      properties:
        status:
          type: string
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
            steps:
              type: integer
            coins_awarded:
              type: integer
            created_at:
              type: string
              format: date-time

    StepRecord:
      type: object
      properties:
        date:
          type: string
          format: date
        steps:
          type: integer
        distance:
          type: number
        source:
          type: string

    DailyStepsResponse:
      type: object
      properties:
        status:
          type: string
        data:
          type: object
          properties:
            date:
              type: string
              format: date
            steps:
              type: integer
            distance:
              type: number
            daily_goal:
              type: integer
            goal_met:
              type: boolean

    WeeklyStepsResponse:
      type: object
      properties:
        status:
          type: string
        data:
          type: object
          properties:
            total_steps:
              type: integer
            weekly_goal:
              type: integer
            days:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  steps:
                    type: integer
                  goal_met:
                    type: boolean

    CoinBalanceResponse:
      type: object
      properties:
        status:
          type: string
        data:
          type: object
          properties:
            available:
              type: integer
            frozen:
              type: integer
            earned:
              type: integer
            spent:
              type: integer

    CoinTransaction:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum: [earned, spent, refund, bonus, penalty]
        amount:
          type: integer
        reference:
          type: string
        created_at:
          type: string
          format: date-time

    ShippingAddress:
      type: object
      required:
        - full_name
        - street
        - city
        - postal_code
        - country
      properties:
        full_name:
          type: string
        street:
          type: string
        city:
          type: string
        state:
          type: string
        postal_code:
          type: string
        country:
          type: string

    OrderResponse:
      type: object
      properties:
        status:
          type: string
        data:
          $ref: '#/components/schemas/Order'

    Order:
      type: object
      properties:
        id:
          type: string
          format: uuid
        order_code:
          type: string
          example: "FK-2024-00123"
        total_coins:
          type: integer
        status:
          type: string
          enum: [pending, confirmed, processing, shipped, delivered, cancelled]
        items:
          type: array
          items:
            type: object
            properties:
              product_name:
                type: string
              quantity:
                type: integer
              coin_price_at_purchase:
                type: integer
        created_at:
          type: string
          format: date-time

    Achievement:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        icon_url:
          type: string
        unlock_criteria:
          type: object

    UserAchievement:
      allOf:
        - $ref: '#/components/schemas/Achievement'
        - type: object
          properties:
            unlocked_at:
              type: string
              format: date-time

    Product:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        coin_price:
          type: integer
        image_url:
          type: string
        category:
          type: string

    ProductDetail:
      allOf:
        - $ref: '#/components/schemas/Product'
        - type: object
          properties:
            description:
              type: string
            stock:
              type: integer
            estimated_delivery_days:
              type: integer

    LeaderboardResponse:
      type: object
      properties:
        status:
          type: string
        data:
          type: object
          properties:
            period:
              type: string
            rankings:
              type: array
              items:
                type: object
                properties:
                  rank:
                    type: integer
                  user_id:
                    type: string
                    format: uuid
                  full_name:
                    type: string
                  total_steps:
                    type: integer
                  coins_earned:
                    type: integer
                  is_current_user:
                    type: boolean

    AdminUser:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        full_name:
          type: string
        total_steps:
          type: integer
        total_coins_earned:
          type: integer
        created_at:
          type: string
          format: date-time

    AnalyticsResponse:
      type: object
      properties:
        status:
          type: string
        data:
          type: object
          properties:
            total_users:
              type: integer
            active_users:
              type: integer
            total_steps:
              type: integer
            total_coins_distributed:
              type: integer

    SuspiciousSubmission:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        steps:
          type: integer
        anomaly_score:
          type: number
        reason:
          type: string
        submitted_at:
          type: string
          format: date-time

    AuditLog:
      type: object
      properties:
        id:
          type: string
          format: uuid
        admin_id:
          type: string
          format: uuid
        action:
          type: string
        entity_type:
          type: string
        changes:
          type: object
        created_at:
          type: string
          format: date-time
